<% if session[:user_id].present? %>
<h1> Welcome <%=User.find_by_id(session[:user_id]).username.to_s%> </h1>
<% else %>
<h1> Welcome Please Log In </h1>
<% end %>
<div>
<% @users.each do |user|%>
<ul>
   <li><%= user.username %><%= link_to"view User", user_path(user)  %> </li>

</ul>
<%end%>



</div>