<h1>All Past Events</h1>

    <% @pasts.each do |event| %>
        <h4><%= event.creator.username %></h4>
        <%= event.name %>
        <%= event.location %>
        <%= event.date %> 
    <% end %>