<h1>All Upcoming Events</h1>

    <% @upcomings.each do |event| %>
        <h4><%= event.creator.username %></h4>
        <%= event.name %>
        <%= event.location %>
        <%= event.date %> 
    <% end %>